In [ ]:
3+2

**Text type**

In [4]:
#data types
# 1. text type (string)
name = "mufaddal"

In [5]:
name

'mufaddal'

In [6]:
type(name) #we use type to find data tyoe of variable

str

**Numeric type**

In [8]:
# 2. Numeric Type (int. float)
num1 = 10 #int -> float
num2 = 13.5 #float->int
str_x = "57.8" #str->float->int

In [10]:
type(num1), type(num2)

(int, float)

In [11]:
float(num1) #convert num1 which is int into float

10.0

In [12]:
int(num2)

13

In [16]:
float(str_x) #to convert string into int we first convert string into float

57.8

In [20]:
int(float(str_x)) #now we convert float into integer.....for that we use whole command float(str_x) inside int()

57

**LIST TYPE**- stores items which can be used with help of index or loop

In [21]:
list_of_names = ["Hir" , "jai" , "rahul" , "Mufaddal"]

In [24]:
type( list_of_names)

list

In [25]:
list_of_names

['Hir', 'jai', 'rahul', 'Mufaddal']

In [28]:
#python index always start from 0
list_of_names[3]

'Mufaddal'

In [29]:
list_of_names[0]

'Hir'

In [30]:
#last number: negative sign starts numbering from last
list_of_names[-1] #basically its like ring which again come to same place...we can say it reversed order

'Mufaddal'

In [36]:
#All values upto 2nd index (excluding)
list_of_names[:2] #include 2nd number(means 3rd position from backward all element hide)

['Hir', 'jai']

In [35]:
#All values after 2nd Index (including)
list_of_names[2: ] #include 2nd number(means 3rd position from forward all element hide)

['rahul', 'Mufaddal']

In [38]:
#Add more names or list
list_of_names + ["piyu" , "magda"] #just add + sign and write nuw name in sqaure bracket

['Hir', 'jai', 'rahul', 'Mufaddal', 'piyu', 'magda']

In [39]:
#Number of elementsin list 
len(list_of_names) #len is gor length of the list....here it will give output 4 because we dont assign that two element which we add later to the original one .

4

In [40]:
list_of_names = list_of_names + ["piyu" , "magda"]

In [42]:
len(list_of_names) #now we assign value to original list so it will show 6

6

In [43]:
"jai" in list_of_names #we can use in to see whether an element present in list or not

True

In [45]:
"jal" in list_of_names #false because this name is not in list

False

In [46]:
# Get list starting from index 1 to 4
list_of_names[1:5] #number after and including 1st position is show and number including and after 5th position exclude... so hir and magda remove

['jai', 'rahul', 'Mufaddal', 'piyu']

In [47]:
# Replace value using position 
list_of_names[2] = "Monisha" #new list with changes 
list_of_names

['Hir', 'jai', 'Monisha', 'Mufaddal', 'piyu', 'magda']

In [52]:
# sort list in alphabetical order
sorted(list_of_names) #it will do in increasing order

['Hir', 'Monisha', 'Mufaddal', 'jai', 'magda', 'piyu']

In [57]:
# sort list in alphabetical order "decreasing order"
sorted(list_of_names, reverse=True) #it will do in decreasing order ...just write reverse=True...note T is capital in True.

['piyu', 'magda', 'jai', 'Mufaddal', 'Monisha', 'Hir']

In [58]:
# list of numbers
list_of_numbers = [3,7,1,0,15,71,99,31,45,93,77,39,63,51,-7]

In [59]:
min(list_of_numbers) #to check minimum number of list

-7

In [62]:
#Assign min value a name 
youngest = min(list_of_numbers)
print ("Age of youngest person: ", youngest)

Age of youngest person:  -7

In [64]:
#max value in list
oldest = max(list_of_numbers)
print ("oldest person is: ", oldest)

oldest person is:  99

In [65]:
# summation of numbers
sum(list_of_numbers) #we just use sum for summation

588

**TUPLE** - Similar to list, but items cant be modified

In [66]:
tuples = ("abc" , "123" , "xyz") #in tuples we use normal bracket instead of square bracket....tuples is faster than list

In [67]:
type(tuples)

tuple

In [70]:
"abc" in tuples

True

In [72]:
tuples[0] , tuples[1]

('abc', '123')

In [73]:
tuples[1:2]

('123',)

**RANGE**

In [75]:
range_nums =  range(0,10) #include first number, but excludes last number 
print (range_nums)

range(0, 10)

In [76]:
for i in range_nums:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
range(1,10,3) # Generates numbers with given space - range(start, stop , step )

range(1, 10, 3)

In [80]:
for i in range(1,10,3):
    print (i, end = " ") # end = " " will help to pint element horizontally istead of vertically.....with space

1 4 7

In [84]:
for i in range(10,-6,-2):
     print(i, end = " ") #here number will count from 10 to -6 with 2 gap

10 8 6 4 2 0 -2 -4

**DICTIONARY**